button.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;

  & > * {
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;

    & path[fill="#fff"] {
      fill: var(--interaction-color);
    }
  }

  &.is-active {
    opacity: 1;
  }
}

.icon-arrow-down {
  width: 26px;
  height: 26px;
  background-image: url("../assets/images/sharp-keyboard_arrow_down-24px.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.is-right {
  position: absolute;
  top: 0;
  right: 0;
}
