.ut-bg-gradient {
  & > p {
    position: relative;
    z-index: 200;
  }

  &::before {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 0%));
    content: "";
  }
}

.ut-box-shadow {
  box-shadow: 0 0 $s rgb(0 0 0 / 50%);
}

.ut-more-vspace {
  margin-bottom: $l;
}

.ut-has-error {
  border: solid 2px $error !important;
}
