$dark:    #666;
$darker:  #333;
$darkest:  #000;
$light:   #b4b4b4;
$lighter: #fff;
$accent:  #fc0;
$error:   #c00;

/* Viewports
----------------------------------------------------------------------------- */
$vp-medium: 720px;
$vp-large: 1024px;
$vp-xlarge: 1400px;

/* Größen und Abstände
----------------------------------------------------------------------------- */

$bfs: 1rem;
$multiply: 0.008;

/* Entlang der Renard10 Reihe
  100, 125, 160, 200, 250, 315 */

$xs: $bfs * $multiply * 100;
$s: $bfs * $multiply * 125;
$m: $bfs * $multiply * 160;
$l: $bfs * $multiply * 200;
$xl: $bfs * $multiply * 250;
$xxl: $bfs * $multiply * 315;

/* Schriftarten
----------------------------------------------------------------------------- */

@font-face {
  font-family: Roboto-light;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto-light"), url("/assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-regular;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-regular"), url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-bold;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-bold"), url("/assets/fonts/Roboto/Roboto-Bold.ttf");
}

$font-sans-serif: "Roboto-light";
$font-sans-serif-bold: "Roboto-bold";

/* Line Height
----------------------------------------------------------------------------- */
$lh-normal: 130%;

/* Font Weight
----------------------------------------------------------------------------- */
$fw-light: 100;
$fw-medium: 400;
$fw-bold: 700;

/* Misc
----------------------------------------------------------------------------- */

$border-radius: $xs;
$border-width-s: 1px;
$min-card-width: 20rem;
$tr-fast: 0.3s; // Transition

/* Mappings
----------------------------------------------------------------------------- */
:root {
  --bg-color: #{$darker};
  --text-color: #{$lighter};
  --text-color-minor: #{$light};
  --interaction-color: #{$accent};
  --bg-color-card: #{$darkest};
  --bg-color-form: #{$dark};
}
